In [1]:
#Importanto las librerias necesarias para el analisi de la GEIH
import pandas as pd
import numpy as np

In [ ]:
#leyendo los datos de la GEIH 
df_cgsse= pd.read_csv( "https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/CGSSE.CSV"
                      ,encoding="latin",sep=";")

In [7]:
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20240730,7,2024,7858603,1,1,1,10,NaN,2,...,2.0,NaN,4.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0
1,20240730,7,2024,7858603,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
2,20240730,7,2024,7858603,1,3,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
3,20240730,7,2024,7858604,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
4,20240730,7,2024,7858604,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69689,20240730,7,2024,7889227,1,1,1,10,88.0,1,...,2.0,NaN,8.0,4.0,714.0,5.0,714.0,2.0,1.0,1.0
69690,20240730,7,2024,7889227,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
69691,20240730,7,2024,7889227,1,3,1,10,88.0,1,...,2.0,NaN,10.0,5.0,521.0,2.0,NaN,1.0,2.0,1.0
69692,20240730,7,2024,7889227,1,4,1,10,88.0,1,...,2.0,NaN,8.0,1.0,413.0,2.0,NaN,2.0,1.0,1.0
69693,20240730,7,2024,7889227,1,5,1,10,88.0,1,...,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#leyendo los datos de la GEIH 
df_cgsse_2= pd.read_csv( "https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV"
                      ,encoding="latin",sep=";")

In [9]:
df_cgsse_2

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4,P7440
0,20240730,7,2024,7858603,1,2,1,70,NaN,2,...,2.0,2,NaN,1,400000.0,.,9111,97.0,9700,NaN
1,20240730,7,2024,7858605,1,2,1,70,NaN,2,...,NaN,2,NaN,2,NaN,4224,NaN,NaN,NaN,NaN
2,20240730,7,2024,7858606,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
3,20240730,7,2024,7858607,1,2,1,70,NaN,2,...,2.0,2,NaN,2,NaN,.,9111,97.0,9700,NaN
4,20240730,7,2024,7858607,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25104,20240727,7,2024,7889223,1,4,1,70,76.0,1,...,2.0,2,NaN,2,NaN,.,8156,15.0,1522,NaN
25105,20240728,7,2024,7889224,1,2,1,70,76.0,1,...,2.0,2,NaN,1,98.0,.,9333,47.0,4752,NaN
25106,20240728,7,2024,7889224,1,3,1,70,76.0,1,...,2.0,2,NaN,2,NaN,5120,5120,96.0,9609,NaN
25107,20240729,7,2024,7889226,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,5223,46.0,4632,NaN
25108,20240730,7,2024,7889227,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,4120,85.0,8553,NaN

In [ ]:
#leyendo los datos de la GEIH 
df_cgsse_2= pd.read_csv( "https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV"
                      ,encoding="latin",sep=";")